<h2><strong>Pedidos</strong></h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th >Opções</th>
        </tr>        
    </thead>
    <tbody>

    </tbody>
</table>